<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
    <h1>
        {{ title }} is {{ type }}!
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat incidunt blanditiis ducimus, eius quod laborum quos quae molestiae architecto, nam expedita id est alias quo voluptatum? Quia sint illum fuga.
    </p>
    <p>
        {{10+20}}
    </p>

    <p> i will score {{ score }}</p>
    <p>
        {{ display_message() }}
    </p>
    <div> -->
signal page application
<br>
<a routerLink="directives">directives</a> &nbsp;
<a routerLink="review">review</a> &nbsp;
<a routerLink="InBuildPipeLineComponent">InBuildPipeLineComponent</a><br> &nbsp;


<router-outlet></router-outlet>